<span class="tx-tooltip" tabindex="0">
  {{ term_name }}
   <span class="tx-tooltip-text" id="{{ tooltip_id }}">
     {{ description[:100] ~ '...'}}
     <br>
     <a href="/{{ term_name }}">Read more</a>
   </span>
</span>
